@media (max-width: 576px) {
  .nav.main .nav-link {
    padding: 0.5rem; }
  .bg-image .about-txt {
    top: 50%; }
  .bg-image .options {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex; }
  .bg-image .options {
    top: 65%; }
  .heading {
    width: 50%;
    font-size: 20px; }
  .list-group {
    margin-top: 50px; }
  .list-group-item p {
    position: relative;
    right: -10%; }
  .get-started {
    height: 900px; }
  .answers-container {
    margin: 25px; } }
